node_modules
npm-debug.log
reports
coverage
.tscache
typings
.DS_Store
*.js.map
src/**/*.js
test/**/*.js
src/**/*.d.ts
test/**/*.d.ts
*.d.ts
!Gruntfile.js
stryker.conf.js
.stryker-tmp
samples/**/package.json